* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contanier {
    width: 80%;
    margin: auto;
}

.header {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 0px;
    z-index: 9999999999999;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.header nav a img {
    width: 35px;
    height: 35px;
}

.header .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -70px;
}

.header .nav ul li a {
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    padding: 8px;
    margin-right: 8px;
}

.header .nav ul li .btn {
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 20px;
    border: 2px solid rgb(255, 165, 0);
    font-weight: 600;
}

.header .nav ul li .btn i {
    color: rgb(255, 165, 0);
    ;
}

.togoller i {
    background-color: transparent;
    color: black;
    font-size: 20px;
    margin: 20px;
    display: none;
}


/* ======================================= */



.home {
    padding-top: 48px;
    margin-bottom: 48px;
}

.home .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home .row .title {
    width: 45%;
    padding: 0px 15px;
    padding-top: 48px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .row .image {
    width: 45%;
    padding-top: 48px;
}

.home .row .image img {
    width: 100%;

}

.home .row .title h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 8px;
}

.home .row .title h2 {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(32, 32, 32, 0.6);
    margin-bottom: 48px;
}

.home .row .title a {
    background-color: rgb(255, 165, 0);
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 10px 30px;
    transition: all 0.5s;
}

.home .row .title a:hover {
    background-color: rgb(32, 157, 216);
}

/* ================================= */
.card {
    padding: 50px 0px;
    background-color: rgb(243, 245, 250);
}

.card .row {
    margin-bottom: 48px;
}

.card .row .card-item {
    width: 16%;
    margin: auto;
}

.card .row .card-item img {
    width: 100px;
    padding: 0px 15px;
    filter: grayscale(100);
    transition: all 0.5s;
}

.card .row .card-item img:hover {
    filter: grayscale(0);
    transform: scale(1.2, 1.2);
}

/* ================================= */
.using{
    padding-top: 60px;
}
.text {
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 48px;
}

.text h2 {
    position: relative;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: rgb(55, 81, 126);
    font-size: 32px;
    margin: 48px 0 8px 0;
    padding-bottom: 16px;
}

.text h2:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: calc(50% - 50px);
    width: 113px;
    height: 2px;
    background-color: rgb(221, 221, 221);
}

.text h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    width: 50px;
    height: 4px;
    background-color: rgb(255, 165, 0);
}
.using .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.using .row .img {
    width: 46%;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 48px;
}

.using .row .img img {
    width: 100%;
}

.using .row .info {
    width: 46%;
    padding: 0px 15px;
}

.using .row .info p {
    color: rgb(68, 68, 68);
    font-family: sans-serif;
    margin-bottom: 70px;
}

.using .row .info a {
    border: 2px solid rgb(255, 165, 0);
    color: rgb(255, 165, 0);
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 500;
}

.using .row .info a:hover {
    color: white;
    background-color: rgb(255, 165, 0);
}

/* ========================== */

.about {
    padding-top: 60px;
}

.about .row {
    margin-bottom: 48px;
}
.card1{
    width: 46%;
}
.about .row .card1 ul li i {
    color: rgb(255, 165, 0);
    margin-bottom: 16px;
}
.about .row .card1 ul{
    margin-bottom: 16px;
}
.about .row .card1 p{
    margin-bottom: 16px;
}
.card2{
    width: 46%;
}
.about .row .card2 a {
    border: 2px solid rgb(255, 165, 0);
    color: rgb(255, 165, 0);
    border-radius: 5px;
    padding: 8px 30px;
    font-weight: 500;
}
.about .row .card2 a:hover{
    color: white;
  background-color: rgb(255,165,0);
}
.about .row .card2 p{
    margin-bottom: 16px;
}
/* =========================== */

.categories{
    background-color: rgb(243,245,250);
    padding-top: 60px;
}
.categories .row .text{
    width: 100%;
}
.categories .row .img{
    padding: 0px 8px;
    margin-bottom: 16px;
    width: 31%;
    height: 250px;
  transition: all 0.5s;
  position: relative;
}
.categories .row .img:hover{
    transform: translateY(-12px);
}
.categories .row .img img{
    width: 100%;
  height: 100%;
}
.categories .row .img h4{
    background-color: rgb(255,165,0);
  width: 96%;
  top: 48px;
  left: 8.5px;
  position: absolute;
  text-align: center;
  padding: 4px 0;
  margin-bottom: 8px;
}
.categories .row .img h4 a{
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
  }
/* ================================= */
.brands{
    padding-top: 60px;
    background-color: rgb(243,245,250);
}
.brands .pragraph{
    width: 100%;
    margin-bottom: 8px;
    padding: 0 15px 25px 15px;    
    text-align: center;
} 
.brands .row .img{
    width: 26%;
}
.brands .row .img img{
    width: 100%;
}
/* ======================= */

.contact{
    padding-top: 60px;
}
.contact .row .pragraph{
    width: 100%;
    text-align: center;

}
.contact .row .img{
    width: 46%;
    padding: 0 15px;
    margin-bottom: 16px;
}
.contact .row .img img{
    width: 100%;
    height: 400px;
}
.contact .row .info{
    width: 46%;
    padding: 0 15px;
    margin: auto;
}
.contact .row .info form{
    border-top: 3px solid rgb(255,165,0);
    border-bottom: 3px solid rgb(255,165,0);
    box-shadow: 0px 0px 20px rgba(32, 32, 32, 0.4);
  }
  .contact .row .info form label{
     display: block;
     font-size: 16px;
     padding-bottom: 4px;
  }
  .contact .row .info form input{
    width: 100%;
    height: 25px;
  }
  .contact .row .info form textarea{
    width: 100%;
   height: 200px;
  }
  
.contact .row .info form .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.contact .row .info .yourname{
    width: 39%;
    padding: 0 15px 16px 15px;
    text-align: left;
}
.contact .row .info .youremail{
    width: 39%;
    padding: 0 15px 16px 15px;
    text-align: left;
}
.contact .row .info .message{
    width: 100%;
    padding: 0 15px 16px 15px;
    text-align: left;
}
.contact .row .info .button{
    width: 100%;
    padding:  8px 15px;
    text-align: center;
}
.contact .row button{
        background-color: rgb(255,165,0);
        border: 1px solid #fff;
        color: white;
        border-radius: 20px;
        width: 33%;
        padding: 10px 10px;
      
}

/* ============================= */

.social{
    padding-top: 60px ;
}
.social .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 48px;
}
.social .row h4{
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: rgb(55,81,126);
    font-size: 16px;
    padding: 0 15px ;
    margin-bottom: 8px;
}
.social .row p{
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(68,68,68);
    padding: 0 15px ;
    margin-bottom: 16px;
}
.social .row .links{
    padding: 0 15px;
}
.social .row .links a{
    background-color: rgb(255,165,0);
    display: inline-block;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 26px;
    padding: 7px 0px;
    margin-right: 3px;
}
.social .row .links a i{
    font-size: 25px;
}
/* ====================== */
.footer{
    background-color: rgb(55,81,126);
    color: white;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px 0;
}
.footer .row .copyright{
    width: 36%;
    text-align: left;
    margin-bottom: 48px;
    font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 48px;
}
.egypt{
    font-size: 15px;

}
.footer .row .copyright span{
    font-weight: bold;
}
.footer .row .details{
    width: 42%;
    text-align: left;
    font-size: 13px;
    font-family: sans-serif;
}
.footer .row .details a{
    color: rgb(255,165,0);
}
.footer .row .details .p{
    margin-bottom: 8px;
}
/* ============================= */





.offers-1{
    background-color: rgb(243,245,250);
  }
  .offers-1 .contanier .row{
    padding-top: 85px;
  }
  .offers-1 .contanier .row ol{
    list-style-type: none;
    display: flex;
    width: 100%;
  }
  .offers-1 .contanier .row ol li a{
    color: rgb(255,165,0);
    text-decoration: none;
  }
  .offers-1 .contanier .row ol li+li{
    padding-left: 10px;
  }
  .offers-1 .contanier .row ol .offering{
    position: relative;
  }
  .offers-1 .contanier .row ol .offering::before{
    display: inline-block;
    padding-right: 10px;
    color: #4668a2;
    content: "/";
  }
  .offers-1 .contanier .row h2{
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: rgb(55,81,126);
  }
  
  /* ========== Offers-card-2 ========== */
  .offer .row{
    padding: 85px 0 48px 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .offer .row .cards{
    width: 31%;
    text-align: right;
  }
  .offer .row .cards .imaged{
    width: 100%;
  }
  .offer .row .cards .imaged img{
    width: 100%;
  }
  .offer .row .cards .title{
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  .offer .row .cards .title h5{
    font-size: 1.25rem;
    margin-bottom: 12px;

  }
  .offer .row .cards .title p{
    margin-bottom: 16px;
  }
  .offer .row .cards .title a{
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #007bff;
    border-color: #007bff
  }
  /* ================================= */

  @media (max-width: 990px) {
    .header{
        padding: 0;
    }
    .header .nav ul {
        display: none;
    }

    .togoller i {
        display: block;
        margin: 20px 10px;
    }
    /* ========================= */

    .home .row{
        flex-direction: column-reverse;
    }
    .home .row .title{
        width: 100%;
        text-align: center;
    }
    .home .row .title h1{
        font-size: 40px;
    }
    .home .row .title h2{
        font-size: 23px;
    }
    .home .row .image{
        width: 100%;
        text-align: center;
    }
    .home .row .image img{
        width: 70%;
    }

    /* ================================ */
    .card .row .card-item {
        width: 33%;
        text-align: center;
        margin: 24px 0;
    }
    /* ================================ */


    .using .row .img{
        width: 100%;
    }
    .using .row .info{
        width: 100%;
    }
    /* ================================ */
    .card1{
        width: 100%;
        margin-bottom: 48px;
    }
    .card2{
        width: 100%;
    }
    /* ================================= */


    .categories .row{
        justify-content: space-evenly;

    }
    .categories .row .img{
        width: 48%;
        padding: 0px;
    }
    /* ========================= */
    .brands .row{
        justify-content: center;
    }
    .brands .row .img{
        width: 59%;
        text-align: center;
        margin-bottom: 24px;
        padding: 0 15px;
    }
    .brands .row .img img{
        width: 100%;
    }


    /* =========================== */
    .contact .row .info{
        width: 43%;
    }
    .contact .row .img{
        width: 43%;
    }
}

/* ============================ */

@media (max-width: 576px){
    .contanier{
        width: 90%;
    }
    .home .row .title{
        padding: 48px 0px;
    }
    .home .row .title h1{
        font-size: 33px;
    }
    .home .row .image img{
        width: 80%;
    }
    .home .row .title h2 {
        font-size: 17px;
    }
    /* ============================ */
    .card .row .card-item {
        width: 100%;
    }
    /* =========================== */
    .using .row .info{
        width: 100%;
        text-align: center;
    }
    .using .row .info p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    /* ========================= */

    .about .row .card2{
        text-align: center;
    }
    .about .row .card2 p{
        font-size: 17px;
        margin-bottom: 30px;
    }
    /* =========================== */
    .categories .row .img{
        width: 100%;
    }
    /* =========================== */
    .brands .row .img{
        width: 100%;
    }
    /* ============================== */
    .contact .row .img{
        width: 100%;
        height: auto;
    }
    .contact .row .info{
        width: 100%;
    }
    .contact .row .info .yourname{
        width: 100%;
    }
    .contact .row .info .youremail{
        width: 100%;
    }
    .contact .row .info button{
        width: 70%;
        height: 35px;
    }

    /* ============================= */

    .footer .row .copyright{
        width: 100%;
        text-align: center;
    }
    .footer .row .details{
        width: 100%;
        text-align: center;
    }



}

/* ============================ */

/* .bulb{
    align-items: center;
}
.bulb i{
    font-size: 20px;
    text-shadow: 0px 0px 10px black;
    color: black;
    cursor: pointer;
}
.dark{
    background-color: black;
    color: #fff;
}
.bulb i.yellow{
    color: yellow;
    text-shadow: 0px 0px 10px yellow;
}
li .bulb{
    width: 100%;
} */

#darkmode {
    width: 8%;
    text-align: end;
    font-size: 24px;
    margin-left: 8px;
}

.dark-mode {
    background-color: #000;
    --text-color:#fff;
    --ptext-color:#949090;
    --background-color:#222;
    color: #eee;
  }
  .bulb i{
    color: black;
    cursor: pointer;
  }